title: Pradeep Kumar Saraswathi
subtitle: Pradeep Kumar Saraswathi
description: >- # this means to ignore newlines until "baseurl:"
  Pradeep Kumar Saraswathi is PMTS (UI) at salesforce with 17+ years of experience in building UI (Builders) with multiple UI technologies that builds experiences and AI/ML, Generative AI enthusiast. 

url: "https://spradeep.com" # the base hostname & protocol for your site, e.g. https://example.github.io
baseurl: "" # the subpath of your site, e.g. /blog

# Navigation
urls:
    - text: Home
      url: /
    - text: About
      url: /about
    - text: UI
      url: /ui
    - text: CMS
      url: /cms
    - text: Site Builders
      url: /site-builders 
    - text: Web components
      url: /web-components  
    - text: UI Frameworks
      url: /web-components    
    - text: Contact
      url : /contact


# Edit Author details (For multi authors check _data/authors.yml)

author_logo: pradeep.png
author: Pradeep Kumar Saraswathi
author_bio: Hi, Pradeep Kumar Saraswathi is PMTS (UI) at salesforce with 17+ years of experience in building UI (Builders) with multiple UI technologies that builds experiences and AI/ML, Generative AI enthusiast. 

author_email: "pradeepin2@gmail.com"
author_location: United States of America
author_website_url: "https://spradeep.com"
typewrite-text: Learn building UI using Javascript, Typescript, UI Frameworks, AI/ML and Generative AI 
hero_cover_img: sample_cover.jpg # replace this for changing homepage cover (eg. try cover.jpeg). Image should be in /assets/img

# Experiences
author_work_experiences:
            - company_name: Salesforce
              company_logo: salesforce.png
              company_url: https://salesforce.com
              designation: PMTS (UI) Software Engineering
              description: Working on Building Builder platform, CMS Platform and Digital experience platform that enables creation of Builders like Site Builders, Form Builders which allow delivering customer digital experiences.
              experience: 2018 - 2023*
              visibility: true
            - company_name: Gainsight
              company_logo: gainsight.png
              company_url: https://www.gainsight.com/
              designation: Software Engineering Architect (UI)
              description: Worked on Building Customer success platform, Analytics platform that enables customer success teams to retain customers and reduce churn.
              experience: 2014 - 2018
              visibility: true
            - company_name: IVY comptech (Bwin.party)
              company_logo: ivy.png
              company_url: https://ivy.global
              designation: Senior Software Engineer
              description: Worked on Building Gaming platform, to enable HTML5 games that can by used by multi players.
              experience: 2013 - 2014
              visibility: true  
            - company_name: Pramati
              company_logo: pramati.png
              company_url: https://pramati.com/
              designation: Principle Software Engineer
              description: Worked on Building Configuration Pricing and Quoting (CPQ) platform (Big Machines) which got acquired by Oracle Corp.
              experience: 2010 - 2013
              visibility: true 
            - company_name: Zoho Corp
              company_logo: zoho.png
              company_url: https://www.zoho.com/
              designation: Member Technical Staff
              description: Worked on Building online Document Management platform.
              experience: 2006 - 2010
              visibility: true   

author_project_details:
              - project_title: Patent Filed for my work in Builder Platform
                project_info: Patent Filed for Creating a WYSIWYG Canvas in Builder to build UI / Experiences
                project_description: Almost all WYSIWYG Builders (site builders, email builders, content builders) are tied to a specific front-end component library or technology. Consumers of the builder need to adapt to the technology of choice if they want to be able to leverage the builder’s preview and design-mode functionalities, like selection, drag-and-drop, clone, and delete. The innovation led to a new dimension of expanding the capabilities
                visibility: true
              - project_title: Patent Filed internally for my work in Content Management system and Document collaboration software integration 
                project_info: Patent Filed internally for Content Management system and Document collaboration software integration 
                project_description: Innovative approach to integrate Content Management system and Document collaboration software integration
                visibility: true  
              - project_title: Authored Article Published in Salesforce developer blogs
                project_info: Authored Article on Content Curation in Salesforce CMS
                project_description: You can curate and customize the content you create in Salesforce CMS for specific channels. At Capricorn Coffee, the content management team wants to curate the content that they’ve created. This will help them to organize their content and present it to their audiences more effectively.
                project_url: https://developer.salesforce.com/blogs/2019/11/content-curation-in-salesforce-cms
                visibility: true
              - project_title: Article Published in Salesforce developer blogs
                project_info: Article Published on Content Delivery API to Extend or Integrate Content
                project_description: You can curate and customize the content you create in Salesforce CMS for specific channels. At Capricorn Coffee, the content management team wants to curate the content that they’ve created. This will help them to organize their content and present it to their audiences more effectively.
                project_url: https://developer.salesforce.com/blogs/2019/11/content-delivery-api-to-extend-or-integrate-content
                visibility: true

# Education
author_education_details:
              - college_logo: IIITH_25th-year-celebration.png
                college_name: IIIT Hyderabad
                college_url: https://www.iiit.ac.in/
                college_degree: Diploma in AI/ML
                description: Diploma in AI/ML
                visibility: true
              - college_logo: RMK_Engineering_College_logo.png
                college_name: R.M.K. Engineering college
                college_url: https://www.rmkec.ac.in/2023/
                college_degree: Electronics & Instrumentation engineering
                description: Bachelor of Engineering
                visibility: true

# social links
twitter_username: pradeepin2
github_username: pradeepin2
facebook_username: pradeep.saraswathi
linkedin_username: pradeepsaraswathi

#for comments ( we got Disqus and Hyvor Commenting, uncomment the one you want to use )

# disqus_shortname: sujay-kundu


# mailchimp embedded form url (newsletter):
#mailchimp_form_url: https://sujaykundu.us10.list-manage.com/subscribe/post?u=50bab1c85eae24ecfb0f68361&amp;id=3a2dd721d0

# contact form - (choose formspress or getform)
getform_endpoint: 3aca0b03-29ac-4f1f-b320-e737cad02512
#formspree_email: johndoe@gmail.com

# releases - widget can be (sidebar, modal or embed)
#olvy_organization: devlopr
#olvy_widget_type: sidebar

# syntax highlighter
markdown: kramdown
highlighter: rouge
permalink: pretty

# Choose what to show ( can be true or false)
show_author_work_experiences: true
show_author_education_details: true
show_author_project_details: true

# pagination of posts
paginate: 4
per_page: 4
paginate_path: "/blog/page/:num/"

# minify
# compress_html:
#   clippings: all
#   comments: ["<!-- ", " -->"]
#   endings: all
#   ignore:
#     envs: ['development']

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   layout: archive
#   permalinks:
#     category: '/category/:name/'

collections:
  products:
    output: true
  authors:
    output: true

defaults:
  -
    scope:
      path: "gallery"
    values:
      permalink: /:path/:basename:output_ext
  -
    scope:
      path: ""
      type: authors
    values:
      layout: author
      permalink: /blog/authors/:slug
  -
    scope:
      path: 'assets/**'
    values:
      sitemap: false

# Build settings
plugins:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-admin

# Jekyll Admin Config
jekyll_admin:
  # hidden_links:
  #   - posts
  #   - pages
  #   - staticfiles
  #   - datafiles
  #   - configuration
  homepage: "posts"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.

### Switching Deployment Strategy (in DEPLOY_STRATEGY) file change the key accordingly:
# none - For no default
# gh-pages - For Github Pages
# firebase - For Firebase Hosting

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - assets/bower_components/isotope-layout/README.md
  - assets/bower_components/icono/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-svg-core/README.md
  - assets/bower_components/ghosthunter/README.md
  - assets/bower_components/nanobar/README.md
  - assets/bower_components/lightgallery/demo/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-brands-svg-icons/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-solid-svg-icons/README.md
  - assets/bower_components/jquery-mousewheel/README.md
  - assets/bower_components/get-size/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome/README.md
  - assets/bower_components/jquery-mousewheel/ChangeLog/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-regular/README.md
  - assets/bower_components/desandro-matches-selector/README.md
  - assets/bower_components/ev-emitter/README.md
  - assets/bower_components/font-awesome/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-solid/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-brands/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-common-types/README.md
  - assets/bower_components/ghosthunter/example/Index.html
  - assets/bower_components/lightgallery/test/lightgallery.html
  - assets/bower_components/masonry-layout/README.md
  - assets/bower_components/imagesloaded/README.md


destination: ./build
